@use "_slider";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 2rem;

  display: flex;
  justify-content: center;

  font-size: inherit;
}

main {
  width: min(800px, 100%);

  display: flex;
  flex-flow: column nowrap;

  font-family: "Ubuntu";

  h3 {
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
  }

  p.option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    span.key {
      padding: 0.25em 0.5em;
      background-color: #eee;
      border-radius: 0.25em;
      border: 2px solid black;

      font-size: 0.85em;
    }
  }
}
