@import "../../common.css";

/* design system */

@layer theme {
  :root,
  :host {
    /* light */
    @variant theme-light {
      --latest-bg: #d0efde;
    }
    /* dark */
    @variant theme-dark {
      --latest-bg: #2c4f44;
    }
  }
}

@layer base {
  h3 {
    margin: 0;
  }
}

main {
  width: min(700px, 100%);
}

article {
  /* padding: 0.4em 0.8em; */
  @apply py-[0.4em] px-[0.8em];
}

/* utilities */

@utility latest {
  @apply text-(--primary) bg-(--latest-bg);
}

@utility updates {
  @apply m-0 mb-4;
  @apply pl-[1.5em] pr-4;

  @apply flex flex-col flex-nowrap gap-[0.4em];

  li {
    @apply leading-[1.7];
  }
}
