@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 2rem;

  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}

p {
  margin-block: 0.5em;
}

hr {
  border-top: 1px solid #999;
  width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a.page {
  padding: 1.5em 1em;
  margin-bottom: 1em;

  &:hover {
    background-color: #d6deff;

    span.extension {
      background-color: #9eade7;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 0.8em;
  }
}

.underline {
  text-decoration: underline 1px;
}

article {
  padding: 0.4em 0.8em;

  ul {
    padding-left: 1.5em;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
  }
}

article.latest {
  background-color: #d0efde;
}

main {
  width: min(800px, 100%);

  display: flex;
  flex-flow: column nowrap;

  padding-inline: 2em;

  font-family: "Ubuntu";
  font-size: 17px;

  span.padding {
    padding: 0.2em 0.4em;
  }

  .extension {
    background-color: #d6deff;
  }

  .important {
    background-color: #ffc3ad;
  }

  span.highlight {
    padding: 0.25em 0.5em;
    border: 2px solid black;

    font-size: 16px;
  }

  span.refresh {
    background-color: #b6e3c8;
    padding: 0.25em;
  }
}
