@import "../../common.css";

/* extracted from https://chromium.googlesource.com/chromium/src/+/refs/heads/main/ui/gfx/color_palette.h */
/* and compared with browser screenshot capture. (close ones are light 600 dark 300) */
/* but doesn't know exactly what colors are applied in chromium codebase.  */
@layer theme {
  /* maybe tabgroup chip color should always follow system preference */
  /* :host(.light) {
    --tg-grey: #80868b;
    --tg-blue: #1a73e8;
    --tg-red: #d93025;
    --tg-yellow: #f9ab00;
    --tg-green: #1e8e3e;
    --tg-pink: #e52592;
    --tg-purple: #9334e6;
    --tg-cyan: #12b5cb;
    --tg-orange: #e8710a;
  }
  :host(.dark) {
    --tg-grey: #dadce0;
    --tg-blue: #8ab4f8;
    --tg-red: #f28b82;
    --tg-yellow: #fdd663;
    --tg-green: #81c995;
    --tg-pink: #ff8bcb;
    --tg-purple: #c58af9;
    --tg-cyan: #78d9ec;
    --tg-orange: #fcad70;
  } */

  @media (prefers-color-scheme: light) {
    :host {
      --tg-grey: #80868b;
      --tg-blue: #1a73e8;
      --tg-red: #d93025;
      --tg-yellow: #f9ab00;
      --tg-green: #1e8e3e;
      --tg-pink: #e52592;
      --tg-purple: #9334e6;
      --tg-cyan: #12b5cb;
      --tg-orange: #e8710a;
    }
  }
  @media (prefers-color-scheme: dark) {
    :host {
      --tg-grey: #dadce0;
      --tg-blue: #8ab4f8;
      --tg-red: #f28b82;
      --tg-yellow: #fdd663;
      --tg-green: #81c995;
      --tg-pink: #ff8bcb;
      --tg-purple: #c58af9;
      --tg-cyan: #78d9ec;
      --tg-orange: #fcad70;
    }
  }
}

@layer components {
  .grey {
    @apply bg-(--tg-grey);
  }
  .blue {
    @apply bg-(--tg-blue);
  }
  .red {
    @apply bg-(--tg-red);
  }
  .yellow {
    @apply bg-(--tg-yellow);
  }
  .green {
    @apply bg-(--tg-green);
  }
  .pink {
    @apply bg-(--tg-pink);
  }
  .purple {
    @apply bg-(--tg-purple);
  }
  .cyan {
    @apply bg-(--tg-cyan);
  }
  .orange {
    @apply bg-(--tg-orange);
  }
}

#groupList {
  box-shadow: 0 0 5px var(--shadow);
  @apply m-0 p-0 list-none;
  @apply flex flex-col flex-nowrap gap-0;
  @apply min-w-[10em] max-w-[20em];
  @apply font-[Ubuntu] text-sm text-(--primary);
  @apply bg-(--bg);
  @apply select-none;

  li {
    @apply m-0 px-[0.6em] py-0;
    @apply flex flex-row flex-nowrap items-center gap-[0.6em];

    p {
      @apply mx-0 my-[0.25em] py-0.5;
    }
  }
}

@utility popup-position-1 {
  justify-content: start;
  align-items: start;
}
@utility popup-position-2 {
  justify-content: center;
  align-items: start;
}
@utility popup-position-3 {
  justify-content: end;
  align-items: start;
}
@utility popup-position-4 {
  justify-content: start;
  align-items: center;
}
@utility popup-position-5 {
  justify-content: center;
  align-items: center;
}
@utility popup-position-6 {
  justify-content: end;
  align-items: center;
}
@utility popup-position-7 {
  justify-content: start;
  align-items: end;
}
@utility popup-position-8 {
  justify-content: center;
  align-items: end;
}
@utility popup-position-9 {
  justify-content: end;
  align-items: end;
}

/*  */

/* place list based on position number */
@utility rootElem {
  @apply bg-transparent;
  /* @apply w-min; */
  @apply flex flex-row;
  @apply w-screen h-screen;
}

@utility selected {
  /* @apply bg-(--shadow); */
  /* @apply bg-(--extension); */

  @variant light {
    @apply bg-[#aaa];
  }
  @variant dark {
    @apply bg-[#555];
  }
}

@utility folded {
  @apply opacity-35;
}

@utility chip {
  /* @apply w-[20px] h-[20px]; */
  @apply w-4 h-4;
  @apply rounded-sm;
  @apply shrink-0;
}

@utility tabs {
  @apply shrink-0;
}

/*  */

/* for options page */
@utility preview {
  @apply opacity-40;
}
