/* Modified / tailwindcss */
/* From Uiverse.io by mrhyddenn */
/* The switch - the box around the slider */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
  margin-left: 0.5rem;

  flex-shrink: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  transition: 0.4s;
  border-radius: 30px;

  @variant light {
    background: #fff;
    border: 1px solid #ccc;
  }
  @variant dark {
    background-color: #777;
    border-color: #555;
  }
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 13px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  transition: 0.4s;
}
/* variant doesn't work */
:is(:root, :root).light .slider::before {
  background-color: #fff;
  box-shadow: 0 2px 5px #999;
}
@media (prefers-color-scheme: light) {
  .slider::before {
    background-color: #fff;
    box-shadow: 0 2px 5px #999;
  }
}
:is(:root, :root).dark .slider::before {
  background-color: #111;
  box-shadow: 0 2px 5px #333;
}
@media (prefers-color-scheme: dark) {
  .slider::before {
    background-color: #111;
    box-shadow: 0 2px 5px #333;
  }
}

input:checked + .slider {
  border: 1px solid transparent;

  @variant light {
    background-color: #54dd8b;
    box-shadow: 0 0 3px #54dd8b;
  }
  @variant dark {
    background-color: #2b6f52;
    box-shadow: 0 0 3px #2b6f52;
  }
}

input:checked + .slider::before {
  transform: translateX(1.6em);
}
