@import "../../common.css";
@import "./_slider.css";

/* design system */

@layer theme {
  :root,
  :host {
    /* dark */
    @variant dark {
      /* --secondary: #a0a0a0; */
      --secondary: #b8b8b8;
    }
  }
}

/* global */

#listenPopup {
  min-width: min(350px, 80%);
  height: min(400px, 80%);
  box-shadow: 0 0 2px var(--bg);

  display: flex;
  flex-direction: column;
  gap: 1em;
}

#resetCheckPopupContent {
  min-width: min(350px, 80%);
  height: min(100px, 80%);
}

.positionGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* gap: 0.5rem 0.25rem; */
  gap: 0;

  label.radio {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
    margin: 0;
  }
}

/* label.selected {
  @apply bg-(--violet);
} */

label.option[for] {
  @variant hover {
    @apply cursor-pointer;
  }
  & > label {
    @variant hover {
      @apply cursor-pointer;
    }
  }
}

/* base */

@layer base {
  /* article contains option sections */
  article {
    @apply flex flex-col gap-4;
    @apply mt-5;

    article {
      @apply mt-0;
    }
  }

  h3 {
    @apply my-2 text-xl;
  }

  h4 {
    @apply my-2 text-lg;
  }

  label {
    @apply select-none;

    /* @variant hover {
      @apply cursor-pointer;
    } */
  }
}

/* components */

@layer components {
}

/* utilities */

@utility popupBtn {
  /* @apply px-[0.5em] py-[1em]; */
  @apply px-[0.3em] py-[0.7em];
  @apply border-(--secondary) border-2;
  @apply text-base text-(--primary) font-[Ubuntu];
  @apply grow;
  @apply bg-(--bg);
  box-shadow: 3px 3px var(--secondary);

  /* &.cancel {
    @apply bg-(--extension);
  }
  &.save {
    @apply bg-(--violet);
  } */
  &.save {
    @apply border-(--secondary) bg-(--extension);
    box-shadow: 3px 3px var(--secondary);
  }
  @variant hover {
    @apply cursor-pointer;
  }
}

/* option section */
@utility option {
  @apply flex flex-col flex-nowrap;
  /* @apply bg-(--shadow); */
  /* 2px solid var(--shadow) */
  @apply border-solid border-1 border-(--shadow);
  @apply py-[0.8em] px-[1.2em];

  & > label {
    @apply flex flex-row flex-wrap justify-between items-center gap-4;
    @apply py-2;
    @apply text-lg;

    @variant [&[for]] {
      @variant hover {
        @apply cursor-pointer;
      }
    }
    @variant first {
      @variant not-last {
        @apply mb-2;
      }
    }

    & > span {
      align-self: start;
      line-height: 1.8;
    }
  }

  label.switch,
  div.multiRadio,
  button.commandBtn {
    margin-left: auto !important;
  }

  .description {
    @apply text-(--secondary) leading-6;
    @apply my-1;
  }
}

@utility fadeAtFoldCommandDisabled {
  @apply transition-opacity duration-200;
  @variant group-not-[.foldCommandEnabled] {
    @apply opacity-30 pointer-events-none;
  }
}

@utility key {
  font-size: max(0.85em, 14px);
  @apply py-1 px-2;
  @apply bg-(--shadow);
  @apply border-solid border-2 border-(--secondary) rounded-sm;
}

@utility link {
  @apply bg-(--shadow) text-(--secondary);
  @apply py-1 px-2;
  @apply border-none;
}

@utility multiRadio {
  @apply flex gap-[0.4em];
}

@utility radio {
  @apply p-2;
  @apply bg-(--bg) text-(--primary);
  @apply whitespace-nowrap;
  @variant not-first {
    @apply ml-1;
  }

  &.selected {
    @apply bg-(--violet);
    box-shadow: 0 0 2px var(--violet);
  }
  @variant hover {
    @apply cursor-pointer;
    @apply bg-(--violet);
    box-shadow: 0 0 2px var(--violet);
  }
}

@utility commandBtn {
  @apply flex items-center;
  @apply text-lg font-[Ubuntu];
  @apply bg-(--extension)  text-(--primary);
  @apply outline-none border-none;
  @apply py-[0.6em] px-[0.8em];
  box-shadow: 0 0 2px var(--extension);

  @variant hover {
    @apply cursor-pointer;
  }
}

/*  */

@utility mac {
  @apply hidden m-0 p-0;
  @variant in-[.macos] {
    @apply flex items-center gap-1;
  }
}

@utility win {
  @apply hidden m-0 p-0;
  @variant in-[.window] {
    @apply flex items-center gap-1;
  }
}

/*  */

@utility meta {
  @apply hidden;
  @variant in-[.metaKey] {
    /* @apply inline-flex items-center gap-0.5; */
    @apply inline-flex;
  }
}

@utility ctrl {
  @apply hidden;
  @variant in-[.ctrlKey] {
    /* @apply inline-flex items-center gap-0.5; */
    @apply inline-flex;
  }
}

@utility alt {
  @apply hidden;
  @variant in-[.altKey] {
    /* @apply inline-flex items-center gap-0.5; */
    @apply inline-flex;
  }
}

@utility shift {
  @apply hidden;
  @variant in-[.shiftKey] {
    /* @apply inline-flex items-center gap-0.5; */
    @apply inline-flex;
  }
}

@utility inputKey {
  @apply px-[0.2em];
}

/*  */

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}

/* 트랙 */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}
input[type="range"]::-moz-range-track {
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}

/* 썸 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  margin-top: -6px; /* 위치 조정 */
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}
