/* use tailwind css without preflight (builtin base) */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* get assets */

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu") local("Ubuntu Regular")
    url("assets/fonts/Ubuntu-Regular.ttf");
}

/* design system */

@custom-variant light {
  :root.light &,
  :host.light & {
    @slot;
  }
  @media (prefers-color-scheme: light) {
    @slot;
  }
}
@custom-variant dark {
  :root.dark &,
  :host.dark & {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    @slot;
  }
}

@custom-variant theme-light {
  @media (prefers-color-scheme: light) {
    @slot;
  }
  &.light {
    @slot;
  }
}
@custom-variant theme-dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
  &.dark {
    @slot;
  }
}

/* design system */
/* @theme is not applied some times */
@layer theme {
  :root,
  :host {
    /* light */
    @variant theme-light {
      --bg: #fff;
      --primary: #000;
      /* --secondary: #666; */
      --secondary: #444;
      --shadow: #eee;

      --extension: #d6deff;
      --important: #ffc3ad;
      --refresh: #b6e3c8;
      --beige: #ebd7b6;
      --violet: #e7b8e7;
    }

    /* dark */
    @variant theme-dark {
      --bg: #282828;
      --primary: #eee;
      /* --secondary: #888; */
      --secondary: #b8b8b8;
      --shadow: #323232;

      /* --extension: #555f8a;
      --important: #8a594a;
      --refresh: #4a7a5d; */
      /* --extension: #4a5070;
      --important: #704a3f;
      --refresh: #3f614c; */
      /* --extension: #2f354f;
      --important: #4f322b;
      --refresh: #244035; */
      --extension: #3c4260;
      --important: #5f3c33;
      --refresh: #335646;
      --beige: #6a5a48;
      --violet: #6a4a68;
    }
  }
}

/* must apply explicitly. extension pages at chrome have font-size: 75%; applied at body tag. */
body {
  @apply text-base;
}

/* base stuff */

@layer base {
  /* layouts */

  html,
  body {
    @apply m-0 p-0;
    @apply bg-(--bg) text-(--primary);
  }

  body {
    @apply min-h-screen overflow-y-scroll;
    @apply flex justify-center;
    @apply box-border p-8 pb-5;

    /* @variant selection {
      @apply bg-(--primary) text-(--bg);
    } */
  }

  main {
    width: min(800px, 100%);
    @apply flex flex-col flex-nowrap;
    @apply px-[2em];
    @apply font-[Ubuntu] text-base;
  }

  /* common tags */

  h2 {
    @apply mt-[0.5em] mb-[1em];
  }

  p {
    @apply my-[0.5em];
  }

  hr {
    @apply w-full;
    @apply border-t border-solid border-(--secondary);
  }

  a,
  a:visited {
    @apply text-inherit no-underline;
  }

  hr {
    @apply my-6;
  }
}

/* utilities */

/* @utility underline-a */
/* 2px? */
.underline {
  text-decoration: underline 1px;
}

@utility extension {
  @apply bg-(--extension) text-(--primary);
}

@utility important {
  @apply bg-(--important) text-(--primary);
}

@utility refresh {
  @apply bg-(--refresh) text-(--primary);
  @apply p-[.25em];
}

@utility padding {
  @apply px-[0.4em] py-[0.2em];
}
