/* use tailwind css without preflight (bultin base) */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* get assets */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* design system */

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
  &:where(.dark, .dark *) {
    @slot;
  }
}

/* light */
@theme {
  --bg: #fff;
  --primary: #000;
  /* --secondary: #666; */
  --secondary: #444;
  --shadow: #eee;

  --extension: #d6deff;
  --important: #ffc3ad;
  --refresh: #b6e3c8;
}
/* dark */
@layer theme {
  :root,
  :host {
    @variant dark {
      --bg: #282828;
      --primary: #eee;
      --secondary: #888;
      --shadow: #323232;

      /* --extension: #555f8a;
      --important: #8a594a;
      --refresh: #4a7a5d; */
      /* --extension: #4a5070;
      --important: #704a3f;
      --refresh: #3f614c; */
      /* --extension: #2f354f;
      --important: #4f322b;
      --refresh: #244035; */
      --extension: #3c4260;
      --important: #5f3c33;
      --refresh: #335646;
    }
  }
}

/* must apply explicitly. extension pages at chrome have font-size: 75%; applied at body tag. */
body {
  @apply text-base;
}

/* base stuff */

@layer base {
  /* layouts */

  html,
  body {
    @apply m-0 p-0;
    @apply bg-(--bg) text-(--primary);
  }

  body {
    @apply min-h-screen;
    @apply flex justify-center;
    @apply box-border p-8 pb-5;
  }

  main {
    @apply w-[min(800px,100%)];
    @apply flex flex-col flex-nowrap;
    @apply px-[2em];
    @apply font-[Ubuntu] text-base;
  }

  /* common tags */

  h2 {
    @apply mt-[0.5em] mb-[1em];
  }

  p {
    @apply my-[0.5em];
  }

  hr {
    @apply w-full;
    @apply border-t border-solid border-(--secondary);
  }

  a,
  a:visited {
    @apply text-inherit no-underline;
  }

  hr {
    @apply my-6;
  }
}

/* Classes */

.underline {
  text-decoration: underline 1px;
}

.extension {
  @apply bg-(--extension) text-(--primary);
}

.important {
  @apply bg-(--important) text-(--primary);
}

.padding {
  @apply px-[0.4em] py-[0.2em];
}

.refresh {
  @apply bg-(--refresh) text-(--primary);
  @apply p-[.25em];
}
